<!DOCTYPE html>
<html lang="en">
	<head>
        <% include ../partials/head %>
	</head>
	<body>
        <% include ../partials/header %>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>In Progress
          <p class="lead"></p>
        </h1>
      </div>
    </div> 
  </div><!-- /cont -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12"> 
      <div class="panel">
        <div class="panel-body">
          <!--/stories-->
          <% for(var i=0; i<books.length;i++){%>
          <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="http://www.i2clipart.com/cliparts/5/d/9/0/clipart-books-5d90.png" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3><%=books[i].title%></h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default"><%=books[i].author%></span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted"><a href="/Books/<%=i%>">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
            </div>
          </div>
          <%}%>
          <!--/stories-->
        </div>
      </div>                                                
   	</div><!--/col-12-->
  </div>
</div>                                                

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Backlog
          <p class="lead"></p>
        </h1>
      </div>
    </div> 
  </div><!-- /cont -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12"> 
      <div class="panel">
        <div class="panel-body">
          <!--/stories-->
          <% for(var i=0; i<books.length;i++){%>
          <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="http://www.i2clipart.com/cliparts/5/d/9/0/clipart-books-5d90.png" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3><%=books[i].title%></h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default"><%=books[i].author%></span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted"><a href="/Books/<%=i%>">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
            </div>
          </div>
          <%}%>
          <!--/stories-->
        </div>
      </div>                                                
   	</div><!--/col-12-->
  </div>
</div>
        
<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Finished
          <p class="lead"></p>
        </h1>
      </div>
    </div> 
  </div><!-- /cont -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12"> 
      <div class="panel">
        <div class="panel-body">
          <!--/stories-->
          <% for(var i=0; i<books.length;i++){%>
          <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="http://www.i2clipart.com/cliparts/5/d/9/0/clipart-books-5d90.png" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3><%=books[i].title%></h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default"><%=books[i].author%></span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted"><a href="/Books/<%=i%>">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
            </div>
          </div>
          <hr>
          <%}%>
          <!--/stories-->
        </div>
      </div>                                                
   	</div><!--/col-12-->
  </div>
</div>
        
<hr>

<footer>
    <% include ../partials/footer %>
</footer>
	</body>
</html>